@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.bansos-purpose-section{
    margin: 150px 135px 100px 135px;
}
.bansos-purpose-heading h5{
    color: var(--Green, #12A592);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    text-transform: uppercase;
}
.bansos-purpose-heading h1{
    width: 819px;
    margin-bottom: 20px;
    color: var(--Black, #353535);
    text-align: center;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
}
.bansos-purpose-heading .highlight-text-1{
    color: var(--Blue, #0D4E77);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 84px;
}
.bansos-purpose-heading .highlight-text-2{
    color: var(--Green, #12A592);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
}
.bansos-purpose-content p{
    width: 964px;
    color: var(--grey-for-font, #848484);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.bansos-purpose-image{
    width: 1005px;
    height: 591px;
    flex-shrink: 0;
    margin-top: 60px;
}